div.erreur
{
  width:400px;
  color:red;
  text-align:center;
  border-style:solid;
  border-color:red;
  }
logo de page d'accueil-->
.logo
{ color:red;
  }
lien de connexion pour les utilisateurs enregistrés-->
.connexion
{ color:blue; }

formulaire de page d'accueil-->
.accueil
{ border:2px solid #a1a1a1;
  padding:200px;
  }

pour des bordures fines et arrondies-->
.surround{
           background-color: red;
           color:aqua;
           }

p{ color:green; }

body
{
  width:300px;
  margin:auto;
  padding:200px; 
  }