div.erreur
{
  width:400px;
  color:red;
  text-align:center;
  border-style:solid;
  border-color:red;
  margin:auto;
  font-size:small
  }
body
{
  background-color:lightsalmon;
  margin-top:auto; 
  text-align:center;
  font-family:Arial;
  font-size:large;
  }
h1
{
margin:0;
  }
table
{
  margin:auto;
  width:auto;
  border:2px solid red;
  border-radius:10px;
  background-color:pink
  }
input
{ 
  height:25px;
  font-size:15px;
  font-weight: bold;
 }
input[type=submit]
{
  margin-top:5px;
  width:100px;
  background-color:silver;
 }
input[type=radio]
{ 
width:20px;
 }
input[type=checkbox]
{ 
width:20px;
 }
a:hover {
          font-weight: bold;
}

