div.erreur
{
  width:400px;
  color:red;
  text-align:center;
  border-style:solid;
  border-color:red;
  margin:auto;
  font-size:small
  }
body
{
  background-color:lightsalmon;
  margin-top:auto; 
  text-align:center;
  font-family:impact;
  font-size:large;
  }
h1
{
margin:0;
  }
table
{
  margin:auto;
  width:350px;
  border:2px solid red;
  border-radius:10px;
  background-color:pink
  }
input
{ 
  height:20px;
  font-size:15px;
 }
.large
{ 
width:auto;
 }

